<!-- modal.component.html -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="enviar()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="titulo" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="descripcion" rows="3" required></textarea>
          </div>

          <div class="mb-3">
            <p>Seleccionar color</p>
            <div class="btn-group" role="group" aria-label="Color selector">
              <input type="radio" class="btn-check" id="colorBlue" formControlName="color" (click)="seleccionarColor(colorEnum.blue)" autocomplete="off" value="blue">
              <label class="btn btn-outline-primary color-option" [ngClass]="{'selected': colorSeleccionado === colorEnum.blue}" for="colorBlue" style="background-color: #b8d8d8; border-color: #b8d8d8;"></label>

              <input type="radio" class="btn-check" id="colorGreen" formControlName="color" (click)="seleccionarColor(colorEnum.green)" autocomplete="off" value="green">
              <label class="btn btn-outline-primary color-option" [ngClass]="{'selected': colorSeleccionado === colorEnum.green}" for="colorGreen" style="background-color: #d5e5a3; border-color: #d5e5a3;"></label>

              <input type="radio" class="btn-check" id="colorYellow" formControlName="color" (click)="seleccionarColor(colorEnum.yellow)" autocomplete="off" value="yellow">
              <label class="btn btn-outline-primary color-option" [ngClass]="{'selected': colorSeleccionado === colorEnum.yellow}" for="colorYellow" style="background-color: #ffe28c; border-color: #ffe28c;"></label>

              <input type="radio" class="btn-check" id="colorBrown" formControlName="color" (click)="seleccionarColor(colorEnum.brown)" autocomplete="off" value="brown">
              <label class="btn btn-outline-primary color-option" [ngClass]="{'selected': colorSeleccionado === colorEnum.brown}" for="colorBrown" style="background-color: #d6c1ab; border-color: #d6c1ab;"></label>

              <input type="radio" class="btn-check" id="colorPurple" formControlName="color" (click)="seleccionarColor(colorEnum.purple)" autocomplete="off" value="purple">
              <label class="btn btn-outline-primary color-option" [ngClass]="{'selected': colorSeleccionado === colorEnum.purple}" for="colorPurple" style="background-color: #baa9ba; border-color: #baa9ba;"></label>

              <input type="radio" class="btn-check" id="colorOrange" formControlName="color" (click)="seleccionarColor(colorEnum.orange)" autocomplete="off" value="orange">
              <label class="btn btn-outline-primary color-option" [ngClass]="{'selected': colorSeleccionado === colorEnum.orange}" for="colorOrange" style="background-color: #ff8f5e; border-color: #ff8f5e;"></label>
            </div>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Crear tarea</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
