 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- modal header -->
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva tarea</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- modal body -->
        <div class="modal-body">

            <div class="modal-body-descripcion">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                <input class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>

            <div class="model-body-titulo">
              <p>Seleccionar color</p>
            </div>
            <!-- color-selector.component.html -->
            <div class="btn-group" role="group" aria-label="Color selector">
              <input type="radio" class="btn-check" name="color" id="colorBlue" autocomplete="off" value="blue" >
              <label class="btn btn-outline-primary" for="colorBlue" style="background-color: #b8d8d8; border-color: #b8d8d8;"></label>

              <input type="radio" class="btn-check" name="color" id="colorGreen" autocomplete="off" value="green" >
              <label class="btn btn-outline-primary" for="colorGreen" style="background-color: #d5e5a3; border-color: #d5e5a3;"></label>

              <input type="radio" class="btn-check" name="color" id="colorYellow" autocomplete="off" value="yellow" >
              <label class="btn btn-outline-primary" for="colorYellow" style="background-color: #ffe28c; border-color: #ffe28c;"></label>

              <input type="radio" class="btn-check" name="color" id="colorBrown" autocomplete="off" value="brown">
              <label class="btn btn-outline-primary" for="colorBrown" style="background-color: #d6c1ab; border-color: #d6c1ab;"></label>

              <input type="radio" class="btn-check" name="color" id="colorPurple" autocomplete="off" value="purple" >
              <label class="btn btn-outline-primary" for="colorPurple" style="background-color: #baa9ba; border-color: #baa9ba;"></label>

              <input type="radio" class="btn-check" name="color" id="colorOrange" autocomplete="off" value="orange">
              <label class="btn btn-outline-primary" for="colorOrange" style="background-color: #ff8f5e; border-color: #ff8f5e;"></label>
            </div>
        
        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Crear tarea</button>
        </div>
      </div>

    </div>

  </div>  