<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- modal body -->
      <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="enviar()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="text" class="form-control"  id="exampleFormControlInput1" formControlName="titulo" required >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="descripcion"  rows="3" required></textarea>
          </div>

          <div class="mb-3">
            <p>Seleccionar color</p>
            <div class="btn-group" role="group" aria-label="Color selector">
              <input type="radio" class="btn-check" formControlName="color" id="colorBlue" autocomplete="off" value="blue" (click)="seleccionarColor(colorEnum.blue)">
              <label class="btn btn-outline-primary color-option" for="colorBlue" style="background-color: #b8d8d8; border-color: #b8d8d8;"></label>
          
              <input type="radio" class="btn-check" formControlName="color" id="colorGreen" autocomplete="off" value="green" (click)="seleccionarColor(colorEnum.green)">
              <label class="btn btn-outline-primary color-option" for="colorGreen" style="background-color: #d5e5a3; border-color: #d5e5a3;"></label>
          
              <input type="radio" class="btn-check" formControlName="color" id="colorYellow" autocomplete="off" value="yellow" (click)="seleccionarColor(colorEnum.yellow)">
              <label class="btn btn-outline-primary color-option" for="colorYellow" style="background-color: #ffe28c; border-color: #ffe28c;"></label>
          
              <input type="radio" class="btn-check" formControlName="color" id="colorBrown" autocomplete="off" value="brown" (click)="seleccionarColor(colorEnum.brown)">
              <label class="btn btn-outline-primary color-option" for="colorBrown" style="background-color: #d6c1ab; border-color: #d6c1ab;"></label>
          
              <input type="radio" class="btn-check" formControlName="color" id="colorPurple" autocomplete="off" value="purple" (click)="seleccionarColor(colorEnum.purple)">
              <label class="btn btn-outline-primary color-option" for="colorPurple" style="background-color: #baa9ba; border-color: #baa9ba;"></label>
          
              <input type="radio" class="btn-check" formControlName="color" id="colorOrange" autocomplete="off" value="orange" (click)="seleccionarColor(colorEnum.orange)">
              <label class="btn btn-outline-primary color-option" for="colorOrange" style="background-color: #ff8f5e; border-color: #ff8f5e;"></label>
            </div>
          </div>
          

          <!-- modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Crear tarea</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>