<div class="card-big-shadow">
    <div class="card card-just-text" data-background="color" [attr.data-color]="dataEntrante.color" data-radius="none">
        <div class="content" style="position: relative;">
            <h4 class="title"><a href="#">{{dataEntrante.titulo}}</a></h4>
            <p class="description">{{dataEntrante.descripcion}}</p>
            <div class="icon-container">
                <a href="#" (click)="seleccionarTarea(dataEntrante)"><i class="bi bi-check2"></i></a>
            </div>
        </div>
    </div>
</div>







