<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
 
    <div class="perfil">
        <div class="contenedor-img">
                <img src="https://s1.piq.land/2012/06/17/LIc7N4wKWoqpMp2ciVKH1Gzm_400x400.png" alt="">
        </div>
        <div class="perfil-nombre">
            <p class="nombre">Nicolás Arcamone</p>
            <p class="mail">nicolas.arcamone.mail</p>
        </div>
        
    </div>

    <div class="nav-principal">
        <ul class="nav">
            <li>
              <a [routerLink]="['/home']"  >
                <i class="bi bi-house"></i> Home
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-calendar-week"></i> Events
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-box-arrow-left"></i> Sign out
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-person-lines-fill"></i> Contact
              </a>
            </li>
          </ul>
    </div>
     
    </div>
  </div>