.container-fluid{
    display: flex;
    flex-direction: column;
    width: 174vh;
    min-height: 100vh;
    background-color: #ffffff;;
    /* background-color: rgb(54, 54, 54); */
    box-shadow: 1px 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.row-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.col-titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin-left: 1em;
}

h1 {
    height: 33px;
    font-size: 30px;
}

.col-titulo p {
    margin-top: 10px;
    font-size: 30px;
}



/* tareas */
.row .row-tareas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-lista-tareas {
    display: flex;
    justify-content: center;
    margin: 1em;
}

/* accordion */

.col-tareas-completadas {
    width: 100%; /* Mantiene el contenedor de tareas completadas al 100% */
    max-width: 100%; /* Evita que se desborde fuera de los límites esperados */
    box-sizing: border-box;
}
.accordion {
    width: 70%; /* Asegura que el acordeón use todo el ancho del contenedor padre */
    max-width: 80%; /* Evita que se expanda más del ancho disponible */
    box-sizing: border-box;
}

/* agregar tarae */

.col-agregar-tara {
    display: flex;
    justify-content: start;
    margin-top: 1em;
}

.col-agregar-tarea a,i {
    font-size: 30px;
    color: rgb(90, 89, 89);
}

.col-agregar-tara i:hover {
    color: green;
}