<div class="container-fluid">
    <div class="row row-principal">
        
       <div class="col col-titulo">
          <h1>Mi dia</h1>
          <p style="font-size: 20px; color: gray;">28/08/2024</p>
       </div>

       <div class="col col-agregar-tara">
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-lg"></i></a> 
          <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva tarea</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <div class="model-body-titulo">
                          <p>Seleccionar color</p>
                      </div>
                      <!-- color-selector.component.html -->
                      <div class="btn-group" role="group" aria-label="Color selector">
                        <input type="radio" class="btn-check" name="color" id="colorBlue" autocomplete="off" value="blue" >
                        <label class="btn btn-outline-primary" for="colorBlue" style="background-color: #b8d8d8; border-color: #b8d8d8;"></label>

                        <input type="radio" class="btn-check" name="color" id="colorGreen" autocomplete="off" value="green" >
                        <label class="btn btn-outline-primary" for="colorGreen" style="background-color: #d5e5a3; border-color: #d5e5a3;"></label>

                        <input type="radio" class="btn-check" name="color" id="colorYellow" autocomplete="off" value="yellow" >
                        <label class="btn btn-outline-primary" for="colorYellow" style="background-color: #ffe28c; border-color: #ffe28c;"></label>

                        <input type="radio" class="btn-check" name="color" id="colorBrown" autocomplete="off" value="brown">
                        <label class="btn btn-outline-primary" for="colorBrown" style="background-color: #d6c1ab; border-color: #d6c1ab;"></label>

                        <input type="radio" class="btn-check" name="color" id="colorPurple" autocomplete="off" value="purple" >
                        <label class="btn btn-outline-primary" for="colorPurple" style="background-color: #baa9ba; border-color: #baa9ba;"></label>

                        <input type="radio" class="btn-check" name="color" id="colorOrange" autocomplete="off" value="orange">
                        <label class="btn btn-outline-primary" for="colorOrange" style="background-color: #ff8f5e; border-color: #ff8f5e;"></label>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>  
       </div>


       <div class="col col-lista-tareas" *ngIf="listTarea.length != 0">
          <div class="row row-tareas">
            <!-- col 1 de 4 -->
            <div class="col-md-4 col-xl-3 col-lista-tareas" *ngFor="let tarea of listTarea">
              <app-tarea [dataEntrante]="tarea"  (tareaEnviada)="recibirTarea($event)"/>  
            </div>
          </div>
       </div>
       
       <!-- col tareas completadas -->
      <div class="col col-tareas-completadas">

        <!-- accordion -->
        <div class="accordion" id="accordionExample" *ngIf="listCompletadas.length != 0">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Tareas completadas
              </button>
            </h2>
           
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul class="list-group" *ngFor="let tarea of listCompletadas">
                  <li class="list-group-item">{{tarea.descripcion}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- finaliza accordeon -->
      </div>
        <!-- finalzia col tareas finalziadas -->
    </div>
        
  </div>
  



  <!-- tareas de colores  -->
   <!-- col 2 de 4 -->
              <!-- <div class="col-md-4 col-xl-3 col-lista-tareas">
              
                <div class="card-big-shadow">
                  <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                      <div class="content">
                          <h6 class="category">Best cards</h6>
                          <h4 class="title"><a href="#">Green Card</a></h4>
                          <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                      </div>
                  </div> 
              </div>
            
                </div> -->
              <!-- col 3 de 4 -->
              <!-- <div class="col-md-4 col-xl-3 col-lista-tareas">
              
                <div class="card-big-shadow">
                  <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                      <div class="content">
                          <h6 class="category">Best cards</h6>
                          <h4 class="title"><a href="#">Yellow Card</a></h4>
                          <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                      </div>
                  </div> 
              </div>
            
                </div> -->

                 <!-- col 4 de 4 -->
              <!-- <div class="col-md-4 col-xl-3 col-lista-tareas">
              
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                        <div class="content">
                            <h6 class="category">Best cards</h6>
                            <h4 class="title"><a href="#">Blue Card</a></h4>
                            <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                        </div>
                    </div>
                 </div>
            
              </div> -->

              <!-- <div class="col-md-4 col-xl-3 col-lista-tareas">
              
                <div class="card-big-shadow">
                  <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                      <div class="content">
                          <h6 class="category">Best cards</h6>
                          <h4 class="title"><a href="#">Brown Card</a></h4>
                          <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                      </div>
                  </div> 
               </div>
            
              </div> -->

              <!-- col -->
              <!-- <div class="col-md-4 col-xl-3 col-lista-tareas">
                <div class="card-big-shadow">
                  <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                      <div class="content">
                          <h6 class="category">Best cards</h6>
                          <h4 class="title"><a href="#">Orange Card</a></h4>
                          <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                      </div>
                  </div> 
              </div>
              
              </div> -->
              
              <!-- fin col -->

              <!-- col  -->
              <!-- <div class="col-md-4 col-xl-3 col-lista-tareas">
                  <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                        <div class="content">
                            <h6 class="category">Best cards</h6>
                            <h4 class="title"><a href="#">Purple Card</a></h4>
                            <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                        </div>
                    </div> 
                </div>
              </div> -->
            <!-- fin col -->