.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%; 
    overflow: hidden; 
    background-color: #ffffff;
    box-shadow: 1px 2px 3px 5px rgba(0, 0, 0, 0.5);
    position: relative;  
}

.row-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative; 
}


.col-titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin-left: 1em;
}

h1 {
    height: 33px;
    font-size: 30px;
}

.col-titulo p {
    margin-top: 10px;
    font-size: 30px;
}



/* tareas */
.row .row-tareas {
    width: 100%;
    max-width: 100%;
    overflow: hidden; 
}

.col-lista-tareas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 1em;
    max-width: 100%;
}

.col-tareas {
    display: flex;
    justify-content: center;
    max-width: 50%;
    position: relative;
    padding: 3em;
}

/* accordion */

.col-tareas-completadas {
    width: 100%; 
    max-width: 100%; 
    box-sizing: border-box;
}
.accordion {
    width: 70%; 
    max-width: 80%; 
    box-sizing: border-box;
}

/* agregar tarae */

.col-agregar-tara {
    display: flex;
    justify-content: start;
    margin-top: 1em;
}

.col-agregar-tarea a,i {
    font-size: 30px;
    color: rgb(90, 89, 89);
}

.col-agregar-tara i:hover {
    color: green;
}




