

<div class="container-fluid">
  <div class="row row-principal "> 

    <!-- col sidebar -->
    <div class="col-md-3 col-sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <!-- col tareas -->
      <div class="col col-tareas">

        <!-- row de tareas  -->
        <div class="row row-secund">

          <!-- col titulo -->
            <div class="col col-titulo">
                  <h1>Mis tareas </h1>
            </div>

            <!-- col modal -->
            <div class="col col-agregar-tarea">
                  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-lg"></i></a>
                  <app-modal (tareaEnviada)="recibirTarea($event)"></app-modal>
            </div>

            <!-- col tareas -->
            <div class="col col-lista-tareas example-boundary" *ngIf="listTarea.length != 0"> <!-- Mantenemos example-boundary aquí -->
              <div class="row row-tareas">
                <div class="col-xl-4 col-tarea example-box" *ngFor="let tarea of listTarea" cdkDragBoundary=".example-boundary" cdkDrag>
                  <app-tarea [dataEntrante]="tarea" (tareaEnviada)="recibirTarea($event)"></app-tarea>
                </div>
              </div>
            </div>

            <!-- termina row -->
        </div>
      
        <!-- termina col-tareas -->
    </div>
</div>
  